In [29]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
#titanic dataset from seaborn
import seaborn as sns
from sklearn.preprocessing import LabelEncoder,OneHotEncoder
titanic=sns.load_dataset("titanic")
print(titanic.head())

titanic.info()
print(titanic.isnull().sum())

#fill the age with median
titanic['age']=titanic['age'].fillna(titanic['age'].median())

#fill embarked in mode
titanic['embarked']=titanic['embarked'].fillna(titanic['embarked'].mode()[0])

#drop deck(as too much missing values)
titanic=titanic.drop(columns=['deck'])

#drop rows where embark_town is missing
titanic=titanic.dropna(subset=['embark_town'])

encoder=LabelEncoder()

#encode sex
titanic['sex']=encoder.fit_transform(titanic['sex'])

#encode embarked
titanic=pd.get_dummies(titanic, columns=['embarked'])

print(titanic.head())

   survived  pclass     sex   age  sibsp  parch     fare embarked  class  \
0         0       3    male  22.0      1      0   7.2500        S  Third
1         1       1  female  38.0      1      0  71.2833        C  First
2         1       3  female  26.0      0      0   7.9250        S  Third
3         1       1  female  35.0      1      0  53.1000        S  First
4         0       3    male  35.0      0      0   8.0500        S  Third

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 15 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   survived     891 non-null    int64
 1   pclass       891 non-null    int64
 2   sex          891 non-null    object
 3   age          714 non-null    float64
 4   sibsp        891 non-null    int64
 5   parch        891 non-null    int64
 6   fare         891 non-null    float64
 7   embarked     889 non-null    object
 8   class        891 non-null    category
 9   who          891 non-null    object
 10  adult_male   891 non-null    bool
 11  deck         203 non-null    category
 12  embark_town  889 non-null    object
 13  alive        891 non-null    object
 14  alone        891 non-null    bool
dtypes: bool(2), category(2), float64(2), int64(4), object(5)
memory usage: 80.7+ KB
survived         0
pclass           0
sex              0
age            177
sibsp            0
parch            0
fare             0
embarked         2
class            0
who              0
adult_male       0
deck           688
embark_town      2
alive            0
alone            0
dtype: int64
   survived  pclass  sex   age  sibsp  parch     fare  class    who  \
0         0       3    1  22.0      1      0   7.2500  Third    man
1         1       1    0  38.0      1      0  71.2833  First  woman
2         1       3    0  26.0      0      0   7.9250  Third  woman
3         1       1    0  35.0      1      0  53.1000  First  woman
4         0       3    1  35.0      0      0   8.0500  Third    man

   adult_male  embark_town alive  alone  embarked_C  embarked_Q  embarked_S
0        True  Southampton    no  False       False       False        True
1       False    Cherbourg   yes  False        True       False       False
2       False  Southampton   yes   True       False       False        True
3       False  Southampton   yes  False       False       False        True
4        True  Southampton    no   True       False       False        True